<%# /支払額の表示 %>
<%= form_with model: @record_address, url: item_records, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
  <%# カード情報の入力 %>
  <div class='credit-card-form'>
    <h1 class='info-input-headline'>
      クレジットカード情報入力
    </h1>
<% #省略 %>